/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.discord {
  background-color: #7289DA;
}
.ytp {
  background-color: #5A3318;
}
.ytp-text {
  color: #5A3318;
}
.waves-effect.waves-ytp .waves-ripple {
  background-color: rgba(89, 51, 24, 0.7);
}
.btn-ytp {
  background-color: #5A3318;
}
.btn-ytp:hover {
  background-color: #995529;
}
.btn-ytp:focus {
  background-color: #381C0D;
}